/*Reset*/
*{
    padding: 0;
    margin: 0;
}

body, html{
    height: 100%;
}

body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}


/*Cabeçalho*/
header{
    display: flex;
    justify-content: center;
    width: 100%; 
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
}

nav{
    height: 54px;
    padding: 0 1.8433170%;
    width: 935px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*Logo instagram */
.div-logo{
    width: 360px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.img-instagram{
    margin-top: 7px;
    height: 29px;
    width: 103px;   
}


/*Input pesquisar*/
.div-input-header {
    width: 213px;
  }

.div-input-header button{
    margin-top: 6px;
    color: gray;
    cursor: pointer;
}

.organiza-input{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.organiza-input:focus{
    padding-left: 20px;
    background-color: greenyellow;
}

.input-header{
    border-radius: 3px;
    padding-left: 25px;
    padding-right: 27px;;
    height: 25px;
    width: 162px;
    background: rgba(var(--b3f,250,250,250),1);
    border: none;
    outline: none;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position-y: 50%;
    text-align: center;
    background-position-x: 28%;
    border: solid 1px rgba(var(--b6a,219,219,219),1); 
}

.input-header:focus{
    text-align: start;
    background-position-x: 4%;
}


  /*Icones do header*/
.div-icones-externa{
    display: flex;
    justify-content: flex-end;
    width: 360px;
}

.div-icones-header{
    padding-left: 24px;
    height: 22px;
    width: 198px;
    display: flex;
    padding-right: 0;
    justify-content: space-between;
}

.icone-header{
    width: 22px;
}

.minha-imagem{
    border-radius: 100%;
    width: 22px;     
}

.enviar{
    margin-bottom: 4px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(-30deg);
}


/*Post*/
#post{
    width: 100%;
    display: flex;
    justify-content: center;
}

.div-post{
    display: flex;
    padding: 28.680px 1.8433170% 40px 1.8433170%;
    width: 895px;
    height: 600px;
    justify-content: center;
}

.imagem-post{
    width: 598px;
    height: 598px;  
}

.descricao-post{
    border: 1px solid rgba(var(--b6a,219,219,219),1);
   width: 334px;
   background-color: #ffffff;
}


/*Parte de cima */
.descricao-cima{
    width: 302px;
    padding: 16px;
    height: 39px;
    display: flex;
    justify-content: start;
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    align-items: center;    
}

.div-imagem-fluxo{
    margin-bottom: 8px;
    height: 22px;
}

.logo-fluxo{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid lightgray;
}

.div-fluxo-user{
    width: 256px;
    margin-left: 14px;
    display: flex;
}

.fluxo-user{
    font-weight: 600;
    color: rgba(var(--f75,38,38,38),1);
    font-size: 0.9em;
}

.ponto{
margin: 0 4px;  
}

.tres-pontos{
    margin-left: 100px;
    font-size: 0.75em;
}


/*Parte da legenda*/
.descricao-legenda{
    display: flex;
    padding: 16px;
    width: 306px;
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    height: 322px;
}

.logo-fluxo2{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid lightgray;
    margin-right: 10px;
}

.div-fluxo-user2{
    margin-top: 5px;
    display: flex;
}


.fluxo-user2{
    font-weight: 600;
    color: rgba(var(--f75,38,38,38),1);
    font-size: 1em;
}

.legenda{
    font-size: 0.9em;
}

.descricao-icones{
    width: 320px;
    height: 40px;
    margin-top: 2px;
    padding: 0 6px 0 7px;
    display: flex;
    justify-content: space-between;    
}

.div-icones-esquerda{    
    display: flex;
    justify-content: space-between;
}

.icone-post{
    width: 24px;
    padding: 8px;
}

.icone-save{
    width: 45px;
}

.quem-curtiu{
    display: flex;
    justify-content: start;
    width: 302px;
    padding: 0 16px;
    align-items: end;
    font-size: 0.9em; 
}

.quem-curtiu .minha-imagem{
    width: 21px;
    margin-right: 3px;
}

.fluxo-user3{
    font-weight: 600;
    color: rgba(var(--f75,38,38,38),1);
    font-size: 1em;
}

.postada-em{
    padding: 4px 0 8px 16px;
    color: rgba(var(--f52,142,142,142),1);
    font-size: 0.7em;
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
}

.div-comentario{
    display: flex;
    height: 40px;
    padding-top: 20px;
    vertical-align: baseline;
    align-content: center;
    justify-content: space-between;
}

.comentario{
    border: none;
    width: 250px;;
    resize: none;
    outline: none;  
    padding-left: 16px;  
}

.publicar{
    padding-right: 10px;
    cursor: initial;
    border: none;
    color: rgba(var(--d69,0,149,246),0.4);
    background-color: #ffffff;
    font-weight: 700;
}